.container{
    margin: 5em auto;
    text-align: center;
    width: 200px;
}

.btns{
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.btn{
    padding: 0.5em 1em;
    border-radius: 50px;
    background-color: blue;
    color: white;
    border: none;
}