*{
    box-sizing: border-box;
}

.container{
    width: 300px;
    margin: 5em auto;
    text-align: center;
}

.taskInputField{
    font-size: 1rem;
    padding: 0.1em 0.3em;

}

.addTaskBtn{
    font-size: 1rem;
    margin-left: 0.5em;
    padding: 0.1em 1em;
}

.tasks{
    text-align: left;
    font-size: 1rem;
    padding: 0 0.3em;
}

p{
    font-size: 1rem;
    cursor: pointer;
}